.chat-menu {
  margin-top: 34px;
  background: #292d32;
  width: auto;
  height: 64px;
  border-radius: 12px 12px 0px 0px;
  border-bottom: 1px solid #393e44;
  margin-right: 24px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.chat-menu img {
  cursor: pointer;
  background: transparent;
  margin-right: 22px;
  margin-left: 22px;
}

img.user {
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  cursor: pointer;
}

.chat-container {
  display: grid;
  grid-template-columns: 1fr auto;
  background: #292d32;
  width: auto;
  max-height: 100vw;
  margin-right: 24px;
  margin-bottom: 24px;
  justify-content: center;
  border-radius: 0px 0px 20px 20px;
}

.chat-box {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  background-color: #292d32;
  border-right: 1px solid #393e44;
  align-items: center;
  border-radius: 0px 0px 0px 20px;
  position: relative;
}

.chat-log {
  width: 984px;
  height: 692px;
  border-radius: 20px;
  border: 1px solid #393e44;
  background: #292d32;
  margin-top: 24px;
  margin-bottom: 24px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  align-items: center;
  width: 984px;
  min-height: 64px;
  max-height: 128px;
  border-radius: 12px;
  background: transparent;
  border: 1px solid #393e44;
  margin-bottom: 32px;
}

.chat-input img:nth-child(1) {
  margin: auto 16px auto 16px;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #181b1f;
}

.chat-input img:nth-child(3) {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 10px;
  flex-shrink: 0;
  background: transparent;
  margin-right: 22px;
}

.material-symbols-rounded {
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
  background: transparent;
  margin-right: 24px;
  color: #f1f5f9;
  padding: 6px;
  border-radius: 10px;
}

textarea {
  resize: none;
  height: 1.5em;
  max-height: 128px;
  color: #7c878e;
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  box-sizing: border-box;
  font-size: 1rem;
  overflow-y: hidden;
}

.chat-functions {
  height: 100%;
  width: 320px;
  background-color: #292d32;
  border-radius: 0px 0px 20px 0px;
  transition: all 0.3s ease;
}

.chat-functions.ativo {
  width: 0;
  .procurar {
    display: none;
  }
}

.procurar {
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 65px;
  align-items: center;
  background-color: #292d32;
  border-bottom: 1px solid #393e44;
}

.toggle-functions {
  width: 24px;
  height: 24px;
  margin: 20px 20px 20px 28px;
  background: transparent;
  color: #7c878e;
  cursor: pointer;
  transform: rotate(180deg);
}

.toggle-back {
  position: absolute;
  opacity: 0;
  visibility: 0;
  pointer-events: none;
  width: 24px;
  height: 24px;
  margin: 20px 20px 20px 28px;
  right: 0px;
  background: transparent;
  color: #7c878e;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.toggle-back.ativo {
  opacity: 1;
  visibility: 1;
  pointer-events: initial;
}

.procurar input {
  background: transparent;
  color: #7c878e;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
  min-width: 210px;
  margin-right: 20px;
}

.procurar input:focus {
  outline: none;
}

@media (max-width: 1480px) {
  .chat-input {
    width: 640px;
  }
  .chat-log {
    width: 640px;
  }
}

@media (max-width: 1200px) {
  .chat-functions {
    width: 0;
    .procurar {
      display: none;
    }
  }
  .chat-functions.ativo {
    width: 320px;
    .procurar {
      display: flex;
    }
  }
  .toggle-back {
    opacity: 1;
    visibility: 1;
    pointer-events: initial;
  }
  .toggle-back.ativo {
    opacity: 0;
    visibility: 0;
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  .chat-box {
    border: none;
    border-radius: 0px;
  }
  .chat-container{
    position: relative;
    margin: 0px;
    height: 100vw;
  }
  .chat-menu {
    margin: 0px;
    border-radius: 0px;
  }
  .chat-log {
    margin-top: 64px;
    top: 0;
    position: absolute;
    max-height: 600px;
    width: 100%;
    border: noe;
  }
  .chat-input {
    background-color: #292d32;
    position: absolute;
    bottom: 0;
  }
}